.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 20px;
}

.confirmation-container h1 {
  color: #e52b50;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.confirmation-container p {
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
}

.confirmation-container img {
  width: 100px;
  margin-top: 30px;
}
